body {
	width:1240px;
	background-color: #ffffe6;
	font-family: 'Verdana', 'Verdana UI', sans-serif;
}

.garisbiru{
	width:1050px;
	border: 1px solid #000024;
}

.table1 {
	/*width:900px;*/
	border: 1px solid #937d63;
}

.table1 td{
	text-align: left; 
	vertical-align: top;
}

.table2 {
	/*width:900px;
	border: 1px solid #937d63;*/
}

.table2 td{
	text-align: left; 
	vertical-align: top;
	line-height: 150%;
	border-bottom: 1px solid #000000;
}
.table2 th{

	border-bottom: 1px solid #000000;
}

.left_border{
	border-left: 1px solid #000000;
}

.spaceBottom {
	padding-bottom: 2em;
}

.spaceBottom_narrow{
	padding-bottom: 0.5em;
}

.clear {
	clear: both;
}

.tombol{
	background: #937d63 ; 
	border: 0; 
	margin-top:5px;
	padding: 5px 0; text-align: center; 
	font-family: 'RobotoCondensed', Arial, Helvetica, sans-serif; 
	font-size: 14px; 
	font-weight: bold; 
	width: 15%; 
	text-transform: uppercase;  
	color: #e9dcc0;
	
	-moz-border-radius: 2px; -webkit-border-radius: 2px; border-radius: 2px; -moz-box-shadow: 0 1px 2px rgba(0,0,0,0.4); 
	-webkit-box-shadow: 0 1px 2px rgba(0,0,0,0.4); box-shadow: 0 1px 2px rgba(0,0,0,0.4);
}

.tombol:hover { background-color: #d3b67c; }

.gender{
	display: none;
	color:red;
}

a {
	text-decoration:none;
}